<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Marksheet Setup</title>
</head>
<body>
  <form action="/marksheetsetup" method="POST">
  <center><h1>Marksheet Setup Page</h1></center>
  <input type="text" name="schoolName" id="schoolName" placeholder="Enter School Name"><br>
   <input type="text" name="address" id="address" placeholder="Enter Address"><br>
   <input type="text" name="phone" id="phone" placeholder="Enter Phone Number"><br>
   <input type="text" name="email" id="email" placeholder="Enter Email Address"><br>
   <input type="text" name="website" id="website" placeholder="Enter Website URL"><br>
   <input type="number" name="totalTerminals" id="totalTerminals" placeholder="Enter Total Terminals" min="1" oninput="addMoreTerminals()"><br>
<input type="submit" name="submit" id="submit" value="Save Marksheet Setup">
</form>
   <script>
   function addMoreTerminals() {
  const totalterm = document.getElementById('totalTerminals').value;
  const form = document.querySelector("form"); // target the form

  // clear previous terminals first
  document.querySelectorAll(".terminal-input").forEach(el => el.remove());

  for (let i = 1; i <= totalterm; i++) {
    let input = document.createElement("input");
    let workinginput = document.createElement("input");
    let br = document.createElement("br");

    input.type = "text";
    input.name = "name" + i;
    input.placeholder = "Enter Terminal " + i + " Name";
    input.classList.add("terminal-input");

    workinginput.type = "number";
    workinginput.name = "workingDays" + i;
    workinginput.placeholder = "Enter Working Days for Terminal " + i;
    workinginput.classList.add("terminal-input");

    form.appendChild(input);
    form.appendChild(workinginput);
    form.appendChild(br);
  }
}

   </script>
</body>
</html>