<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ThemeSlip</title>
</head>
<body>
  Theme Slip <br>
<table border="1" style="border-collapse: collapse;">
  <tr>
    <th rowspan="2">Roll</th>
    <th rowspan="2">Name</th>
    <th colspan="2">Nepali</th>
  </tr>
  <tr>
    <th>Percentage</th>
    <th>Grade</th>
  </tr>
  <% themeslip.forEach((data)=>{%>
  <tr>
    
    <td><%= data.roll %></td>
    <td><%= data.name %></td>
 
  </tr>
  <%})%>
</table>

</body>
</html>