<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  Theme Marks <br>
  <table cellspacing="0" border="1">
   <%themeData.forEach((theme)=>{%>
   <% theme.subjects.forEach((subject)=>{%>
    Theme Data for subject <%=subject.name%> <br>
    <tr>
    <% subject.themes.forEach((theme)=>{%>
      <th><%=theme.themeName%> </th>
    </tr>
    
    <%})%>
   <br>
  <%})%> 


  <%})%>
</body>
</html>